* {
    box-sizing: border-box;
}

:root {
    --btn-primary-color: #1EBFC1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 108px;
    padding: 16px 8px;
    border-radius: 6px;
    border: 1px solid var(--btn-primary-color);
    background: var(--btn-primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    color: var(--btn-primary-color);
    background: #fff;
    transition: all 0.5s ease;
}

/* header */

.header.sticky-nav {
    position: sticky;
    z-index: 2;
    top: -44px;
}

.header .df-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px;
}


.header .nav-bar {
    display: flex;
    align-items: center;
}

.header .nav-bar .nav-flex {
    display: flex;
    /* margin-left: 221px; */
}

.nav-bar .button-header {
    margin-left: 163px;
}

.nav-bar .nav-flex li >a {
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 8px 14px;
}

.nav-bar .button-header .click-link {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 12px;
}


/* Hero */

.hero {
    padding : 42px 0 79px;
}

.hero .df-hero {
    display: flex;
    justify-content: space-between;
}

/* Hero content */

.hero .hero-content-block {
    width: 39.2%;
    padding: 93px 31px 0 0;
}

.hero .hero-content-block .info-desc {
    color: #767E7E;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .hero-content-block .title-content {
    margin-top: 18px;
    width: 458px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .hero-content-block .desc {
    margin-top: 46px;
    width: 374px;
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.hero .hero-content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-content-block .cta-group .btn.hero-btn {
    min-width: 186px;
    border-radius: 14px;
    font-size: 1.8rem;
    padding: 24px 16px;

}

.hero-content-block .cta-group .btn.hero-btn:hover {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.hero-content-block .cta-group .watch-video {
    display: flex;
    align-items: center;
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.cta-group .watch-video .icon i {
    color: var(--btn-primary-color);
}

.cta-group .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
}

/* Hero media */

.hero .hero-media-block {
    width: 54.8%;
    position: relative;
}


.hero .hero-media-block .img-media {
    width: 576px;
    height: 631px;
    object-fit: cover;
    margin-left: 65px;
}

.hero-media-block .hero-summary-absolute {
    position: absolute;
    left: 25px;
    top: 149px;
    padding: 17px 23px 18px 25px;
    width: 157px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-block .absolute-bottom {
    position: absolute;
    left: 0;
    bottom: 46px;
    padding: 16px 25px 42px 25px;
    width: 124px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-block .absolute-bottom .info-title {
    margin-bottom: 16px;
}

.hero-media-block .absolute-bottom .info-title .desc {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.hero-media-block .absolute-users {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px 22px 35px;
    width: 207px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-media-block .absolute-users .info-title {
    margin-bottom: 8px;
}

.hero-media-block .absolute-users .info-title .desc {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-media-block .absolute-users .img {
    display: flex;
    align-items: center;
}

.hero-media-block .absolute-users .img img {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    object-fit: cover;
    margin-left: -3px;
}

.hero-media-block .hero-summary-absolute .item-summary {
    display: flex;
    align-items: center;
}

.hero-summary-absolute .item-summary .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary-absolute .item-summary .icon::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.hero-summary-absolute .item-summary .info {
    margin-left: 16px;
}

.hero-summary-absolute .item-summary .info .label {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */

.features {
    margin-top: 51px;
    padding: 42px 0 79px;
}

.features .features-info {
    width: 591px;
}


.features .features-info .info {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .features-info .title-info {
    margin-top: 18px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.34; /* 133.333% */
}

.features .features-info .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.features-section {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 0 209px;
}

.features-section .item-section {
    width: 168px;
}

.features-section .title .title-section {
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-section .desc-section .desc {
    margin-top: 16px;
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}


.features-section .item-section:nth-of-type(2) {
    width: 223px;
}

.features-section .item-section:nth-of-type(3) {
    width: 224px;
}

/* Courses */

.course {
    margin-top: 51px;
    padding: 42px 0 79px;
}


.course .course-info .info {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.course .course-info .title-info {
    margin-top: 18px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.course .course-info .df-info {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .df-info .desc {
    width: 525px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.course .df-info .ac-link {
    color: var(--btn-primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.course-block {
    margin-top: 79px;
    display: flex;
    align-items: center;
    gap: 0 47px;
}

.course-block .item-course {
    width: 359px;
    position: relative;
}

.course-block .item-course .images img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #D0EFED;
}

.course-block .item-course .course-summary-absolute {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -24%;
    width: 325px;
    padding: 18px 35px 29px 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-block .course-summary-absolute .title .title-summary {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.course-block .course-summary-absolute .price-course {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.course-block .course-summary-absolute .price-course .desc {
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
    vertical-align: bottom;
}

.course-block .course-summary-absolute .price-course .price {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}


.course-block .item-course:nth-child(1) .course-summary-absolute .desc-course {
    width: 218px;
}

.course-block .item-course:nth-child(2) .course-summary-absolute .desc-course {
    width: 265px;
}

.course-block .item-course:nth-child(3) .course-summary-absolute .desc-course {
   width: 224px;
}

.course-block .course-summary-absolute .desc-course {
    margin-top: 6px;
}

.course-block .course-summary-absolute .desc-course .desc {
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

.course-block .course-summary-absolute .df-quantity-course {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.course-block .course-summary-absolute .df-quantity-course .df-qty {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.course-block .course-summary-absolute .df-quantity-course .desc-qty {
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Countdow */
.countdow {
    margin-top: 186px;
    padding: 42px 0 79px;
}

.countdow .df-countdow-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 200px;
}

.countdow .item-countdow .title-countdow {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdow .item-countdow .desc {
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Feedback */
.feedback {
    margin-top: 185px;
    padding: 42px 0 79px;
}

.feedback .feedback-list {
    display: flex;
    gap: 0 72px;
}

.feedback .feedback-list .feedback-content-item {
    width: 36%;
    padding-top: 36px;
}

.feedback .feedback-content-item .blockquote {
    margin-top: 27px;
    width: 100%;
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback .feedback-content-item .user {
    margin-top: 33px;
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.feedback .feedback-content-item .user .user-fb {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
}

.feedback .feedback-content-item .user .after-user {
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .feedback-content-item .user .after-user::after {
    position: absolute;
    left: 0;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback .feedback-content-item .user .desc {
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback .feedback-content-item .ac-btn {
    margin-top: 52px;
    display: flex;
    gap: 0 20px;
}


.feedback .feedback-content-item .ac-btn .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--btn-primary-color);
    color: #fff;
    background: var(--btn-primary-color);
}

.feedback .feedback-content-item .ac-btn .control-btn i {
    font-size: 12px;
}

.feedback .feedback-content-item .ac-btn .control-btn:hover {
    color: var(--btn-primary-color);
    background: #fff;
    transition: all 0.5s ease;
}

.feedback .feedback-info-img {
    width: 58%;
    position: relative;
}

.feedback .image-feedback .absolute-img {
    position: absolute;
    top: 107px;
    left: 273px;

}

.feedback .image-feedback .absolute-img >img {
    width: 235px;
    height: 235px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .image-feedback .absolute-top-left {
    position: absolute;
    top: 0;
    left: 144px;
}

.feedback .image-feedback .absolute-top-left >img {
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .image-feedback .absolute-right-top {
    position: absolute;
    right: 0;
    top: 19px;
}

.feedback .image-feedback .absolute-right-top >img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .image-feedback .absolute-left-top {
    position: absolute;
    left: 0;
    bottom: 145px;
}

.feedback .image-feedback .absolute-left-top >img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .image-feedback .absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 212px;
}

.feedback .image-feedback .absolute-bottom-left >img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .image-feedback .absolute-bottom-right {
    position: absolute;
    bottom: 29px;
    right: 32px;
}

.feedback .image-feedback .absolute-bottom-right >img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

/* Cta */
.cta {
    margin-top: 51px;
    padding: 42px 0 79px;
}

.cta .info-cta {
    display: flex;
    align-items: center;
    gap: 0 410px;
}

.cta .info .title-cta {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.cta .info .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.cta .cta-ac .btn.cta-btn {
    min-width: 186px;
    border-radius: 14px;
    font-size: 1.8rem;
    padding: 24px 16px;
}

/* Footer */
.footer {
    margin-top: 121px;
    padding: 42px 0 79px;
}

.footer .info-footer {
    display: flex;
    justify-content: space-between;
}

.footer .info-footer .item-info:nth-of-type(2) {
    width: 7.8%;
}

.footer .info-footer .item-info:nth-of-type(5),
.footer .info-footer .item-info:nth-of-type(3) {
    width: 9.7%;
}

.footer .info-footer .item-info:nth-of-type(4) {
   width: 13.5%;
}
 

.footer .info-footer .item-info .title {
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .info-footer .item-info li a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .info-footer .item-info:nth-of-type(2) ul li:first-child {
    margin-top: 25px;
}

.footer .info-footer .item-info:nth-of-type(2) ul li:nth-child(2) {
    margin-top: 20px;
}

.footer .info-footer .item-info:nth-of-type(2) ul li:last-child {
    margin-top: 19px;
}

.footer .info-footer .item-info:nth-of-type(3) ul li:first-child, .footer .info-footer .item-info:nth-of-type(4) ul li:first-child {
    margin-top: 26px;
}

.footer .info-footer .item-info:nth-of-type(3) ul li:nth-child(2), .footer .info-footer .item-info:nth-of-type(3) ul li:last-child, .footer .info-footer .item-info:nth-of-type(4) ul li:last-child, .footer .info-footer .item-info:last-child ul li:first-child, .footer .info-footer .item-info:last-child ul li:nth-child(2), .footer .info-footer .item-info:last-child ul li:nth-child(3), .footer .info-footer .item-info:last-child ul li:last-child {
    margin-top: 18px;
}


.footer .info-footer .item-info:nth-of-type(3) ul li:nth-child(3) {
    margin-top: 21px;
}

.footer .info-footer .item-info:last-child li {
    display: flex;
    align-items: center;
    gap: 0 9px;
}

.footer .info-footer .item-info:last-child li .strong-right-border {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #0B120B;
    cursor: pointer;
}

.footer .info-footer .item-info:last-child li .strong-right-border >i {
    font-size: 0.8rem;
}

.copyright {
    margin-top: 80px;
    text-align: center;
}

.copyright .desc {
    color: #B0B5B4;
    font-size: 1.8rem;
    font-weight: 400;
}

